<div class="product-card">
  <h3 class="product-card__title">Castello di Ama</h3>

  <div class="product-card__in">
    <div class="product-card__media product-card__col">
      <img src="assets/images/bottle-wine.jpg" alt="">
    </div>

    <div class="product-card__col">
      <div class="product-card__about">
        <div class="product-card__attr">ssdf</div>
        <div class="product-card__value">sdfsdf</div>
      </div>

      <div class="product-card__about">
        <div class="product-card__attr">ssdf</div>
        <div class="product-card__value">sdfsdf</div>
      </div>

    </div>
  </div>

  <div class="product-card__btns">
    <div class="product-card__counter">- 1 +</div>
    <button class="product-card__btn btn">В корзину</button>
  </div>
</div>
