@import "../../../shared/styles/variables";

.product-card {
  padding: 10px;
  border: 1px solid $color-brand;
  border-radius: 5px;

  &__title {
    text-align: center;
    margin-bottom: 20px;
  }

  &__in {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__col {
    width: 48%;
  }

  &__media {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      object-fit: contain;
    }
  }

  &__about {
    margin-bottom: 10px;
  }

  &__attr {
    font-size: 12px;
    opacity: 0.5;
  }

  &__value {
    text-decoration: underline;
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}
