<div class="modal">
  <!--  <h3 class="modal__title"></h3>-->

  <button class="modal__btn-close"
          (click)="closeModal()"
  >
    <svg-icon-sprite
      [src]="'assets/sprites/sprite.svg#close'"
      [width]="'25px'"
      [viewBox]="'0 0 32 32'"
      class="modal__svg"
    ></svg-icon-sprite>
  </button>

  <app-product-card></app-product-card>

  <div class="modal__description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur cum cupiditate debitis dignissimos dolor,
    doloremque earum eligendi impedit incidunt ipsam laboriosam magnam minus molestias nam necessitatibus non officiis
    provident quisquam rerum saepe sapiente sit vel velit vitae voluptatem voluptates?
  </div>

  <div class="modal__btns">
    <button type="button"
            mat-raised-button
            color="primary"
    >
      Добавить в корзину
    </button>
  </div>
</div>
