<div class="product-list">
  <div class="product-list__header">
    <a class="product-list__back"
       routerLink="/catalog/home"
    >
      <svg-icon-sprite
        [src]="'./assets/sprites/sprite.svg#arrow-left'"
        [width]="'30px'"
        [viewBox]="'0 0 24 24'"
        class="product-list__svg"
      ></svg-icon-sprite>
      Назад
    </a>

    <div class="product-list__header-logo">
      <span>LOGO</span>
    </div>

    <div class="product-list__basket">
      <app-basket-status [colorIcon]="'#000000'"></app-basket-status>
    </div>

  </div>

  <div class="product-list__group"
       *ngFor="let productGroup of productListData"
  >
    <app-product-group [productGroup]="productGroup"></app-product-group>
  </div>

  <button class="product-list__btn"
          (window:scroll)="removeTextBtn($event)"
          (click)="openMenu()"
  >
    <svg-icon-sprite
      [src]="'./assets/sprites/sprite.svg#menu'"
      [width]="'25px'"
      [viewBox]="'0 0 24 24'"
      class="product-list__svg"
    ></svg-icon-sprite>
    <span class="product-list__btn-text" #buttonMenuText>Меню</span>
  </button>

</div>

