<div class="product-list">
  <div class="product-list__header">
    <a class="product-list__back"
       routerLink="/catalog/home"
    >
      <svg-icon-sprite
        [src]="'assets/sprites/sprite.svg#arrow-left'"
        [width]="'30px'"
        [viewBox]="'0 0 24 24'"
        class="product-list__svg"
      ></svg-icon-sprite>
      Назад
    </a>

    <div class="product-list__header-logo">
      <span>LOGO</span>
    </div>

  </div>

  <div class="product-list__group">
    <app-product-group></app-product-group>
  </div>

  <div class="product-list__group">
    <app-product-group></app-product-group>
  </div>

  <button class="product-list__btn"
          (window:scroll)="fixedBtn($event)"
          (click)="openMenu()"
  >
    <svg-icon-sprite
      [src]="'assets/sprites/sprite.svg#menu'"
      [width]="'25px'"
      [viewBox]="'0 0 24 24'"
      class="product-list__svg"
    ></svg-icon-sprite>
    <span class="product-list__btn-text" #buttonMenuText>Меню</span>
  </button>

</div>

