<div class="out">
  <header class="header">

    <div class="header__icon"
         routerLink="/user-account"
    >
      <svg-icon-sprite
        [src]="'assets/sprites/sprite.svg#user'"
        [width]="'30px'"
        [attr.style]="'color: #ffffff'"
        class="header__svg"
      ></svg-icon-sprite>
    </div>

    <div class="user-location">
      <div class="user-location__icon">
        <svg-icon-sprite
          [src]="'assets/sprites/sprite.svg#location'"
          [width]="'20px'"
          [viewBox]="'0 0 24 24'"
          class="user-location__svg"
        ></svg-icon-sprite>
      </div>

      <div class="user-location__text">текущее местоположение</div>

      <div class="user-location__icon">
        <svg-icon-sprite
          [src]="'assets/sprites/sprite.svg#arrow-down'"
          [width]="'15px'"
          [viewBox]="'0 0 20 20'"
          class="user-location__svg"
        ></svg-icon-sprite>
      </div>
    </div>

    <div class="header__icon"
         (click)="openBasket()"
    >
      <svg-icon-sprite
        [src]="'assets/sprites/sprite.svg#basket'"
        [width]="'30px'"
        [attr.style]="'color: #ffffff'"
        [viewBox]="'0 0 24 24'"
        class="header__svg"
      ></svg-icon-sprite>
    </div>

    <!--    <button (click)="showDeviceDetails()">showDeviceDetails</button>-->
    <!--    <button (click)="showGeolocationDetails()">showGeolocationDetails</button>-->
  </header>

  <main class="home">
    <div class="home__in">

      <div class="category">

        <div class="category__in">
          <a class="category__item"
             *ngFor="let item of catalogData"
             routerLink="/catalog/list"
          >
            <img src="assets/images/{{item.img}}" alt="{{item.title}}">
            <span class="category__item-title">{{item.title}}</span>
          </a>
        </div>

      </div>

    </div>
  </main>

  <footer class="footer">
  </footer>
</div>

