<div class="out">
  <header class="header">
  <span class="header__icon">
        <svg-icon-sprite
          [src]="'assets/sprites/sprite.svg#user'"
          [width]="'15px'"
          class="header__svg"
        ></svg-icon-sprite>
  </span>

    <button (click)="showDeviceDetails()">showDeviceDetails</button>
    <button (click)="showGeolocationDetails()">showGeolocationDetails</button>
  </header>

  <main class="home">
    <div class="home__in">

      <div class="category">

        <div class="category__in">

            <div class="category__item category__item--mt"><img src="assets/images/palm.svg" alt=""></div>
            <div class="category__item"><img src="assets/images/swimsuit.svg" alt=""></div>
            <div class="category__item category__item--mt"><img src="assets/images/umbrela.svg" alt=""></div>
            <div class="category__item"><img src="assets/images/palm.svg" alt=""></div>
            <div class="category__item category__item--minus-mt category__item--center"><img src="assets/images/swimsuit.svg" alt=""></div>
            <div class="category__item"><img src="assets/images/umbrela.svg" alt=""></div>
            <div class="category__item category__item--minus-mt"><img src="assets/images/cocktail.svg" alt=""></div>


        </div>

      </div>

    </div>
  </main>

  <footer class="footer">
    footer
  </footer>
</div>

