@import "../../../../shared/styles/variables";

.product {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid $gray;

  &__media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-right: 10px;

    img {
      object-fit: contain;
    }
  }

  &__preview {
    flex: 1;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__description {
    display: block;
    display: -webkit-box;
    margin-bottom: 10px;
    height: $font-size-default*$line-height*2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
