<ul class="list">
  <li *ngFor="let item of profileList"
    class="list__item"
      [routerLink]="['/user-account', item.link]"
  >
    <div class="list__item-icon">
      <svg-icon-sprite
        [src]="'assets/sprites/sprite.svg#'+item.icon"
        [width]="'20px'"
        [viewBox]="'0 0 24 24'"
        class="list__item-svg"
      ></svg-icon-sprite>
    </div>
    <a class="list__link">{{item.title}}</a>

    <div class="list__item-arrow">
      <svg-icon-sprite
        [src]="'assets/sprites/sprite.svg#arrow-right'"
        [width]="'20px'"
        [viewBox]="'0 0 24 24'"
        class="list__item-svg"
      ></svg-icon-sprite>
    </div>
  </li>
</ul>
