<div class="profile">
  <h2 class="profile__title">Профиль</h2>

  <div class="profile__in">

    <div class="profile__skin">
      <img src="assets/icons/user.svg" alt="">
    </div>

    <div class="profile__data">
      <div class="profile__name">Имя не указано</div>
      <div class="profile__phone">+38 063 333 22 77</div>
    </div>

    <div class="profile__edit">
      <svg-icon-sprite
        [src]="'assets/sprites/sprite.svg#edit'"
        [width]="'30px'"
        [viewBox]="'0 0 24 24'"
        class="profile__svg"
      ></svg-icon-sprite>
    </div>
  </div>
</div>
