@import '../../../shared/styles/variables';

.promo-codes {
  min-height: calc(100vh - 50px);
  background-color: $primary-bgc;

  &__title {
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
    margin-bottom: 15px;
  }

  &__conditions {
    padding: 10px;
    background-color: $white;
    border-bottom: 1px solid $gray;
    margin-bottom: 10px;
  }

  &__condition {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &-icon {
      margin-right: 10px;
    }

    &-svg {
      display: flex;
    }
  }

  &__add {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    background-color: $white;
    border-bottom: 1px solid $gray;
    border-top: 1px solid $gray;

    &-svg {
      display: flex;
      margin-right: 10px;
      color: $color-brand;
    }
  }

  &__row {
    margin-bottom: 10px;
    overflow: hidden;
  }

  &__items {
    display: flex;
    padding-bottom: 10px;
    padding-right: 10px;
    overflow-x: scroll;
  }

  &__item {
    flex-shrink: 0;
    margin-left: 10px;
  }
}
