@import "../../../shared/styles/variables";

.product-group {
  background-color: $white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);

  &__title {
    font-size: 20px;
    text-transform: uppercase;
    padding: 15px;
  }
}
