@import '../modal-default';
@import '../../../styles/variables';

.menu-list {

  &__item {
    border-bottom: 1px solid $gray;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    padding: 15px 5px;
  }
}
