::ng-deep .cdk-overlay-pane {
  width: 100%;
  max-width: 100vw!important;
  height: 85vh;
}

::ng-deep .cdk-global-overlay-wrapper {
  align-items: flex-end!important;
}

::ng-deep .mat-dialog-container {
  border-radius: 4px 4px 0 0;
  padding: 15px;
}

.modal {
  position: relative;

  &__title {
    padding-right: 40px;
    margin-bottom: 20px;
  }

  &__btn-close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
  }

  &__svg {
    display: flex;
  }
}
